// Material Theming

// Define theme variables before importing any MDC Web component styles
// $mdc-theme-primary: midnightblue;

// Import the styles for each MDC Web feComponentTransfer

@use "@material/typography/mdc-typography";
@use "@material/card";
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/drawer";
@use "@material/list";

@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.core-styles;
@include card.core-styles;
@include icon-button.core-styles;

.mdc-card {
  height: 350px;
  width: 100%;
}

.back-image{
  height: 350px
  width: 100%;	
  background:linear-gradient(25deg, #F89174, #FFC778);
}

// Check out the MDC Web documentation for how to use MDC Sass mixins:
// https://github.com/material-components/material-components-web
// .foo-button {
//   @include mdc-button-ink-color(lightblue);
//   @include mdc-states(lightblue);
// }