@use "@material/theme" with (
  $primary: #FFC107,
  $secondary: #CCFF90
);
@use "@material/typography/mdc-typography";
@use "@material/elevation/mdc-elevation";
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/drawer";
@use "@material/list";

@include button.core-styles;
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.core-styles;
@include icon-button.core-styles;

* {
  margin: 0px;
  padding: 0px;
}

html.wf-active *{
  --mdc-typography-font-family: "Roboto", "Noto Sans JP", sans-serif;
}

.title {
  text-align: center;
  padding: 100px;
}

.gradation-orange {
  background: linear-gradient(25deg, #AD1457, #FFE082);
}

.main-content {
  height: 100vh;
  background: #FFFFFF;
}

.error {
  text-align: center;
  padding: 100px;
  height: 100%;
}