doctype html
html
  head
    title ページが見つかりませんでした
    link(rel='stylesheet', href='dist/bundle.css')
  body.gradation-orange
    .error
      h1.mdc-typography--headline1
        | 404 Not Found
      h2.mdc-typography--subtitle1
        | お探しのページは見つかりませんでした
      script(src="dist/bundle.js" async)