doctype html
html
  head
    title ページが見つかりませんでした
    link(rel='stylesheet', href='./dist/bundle.css')
  body.mdc-typography.gradation-orange
    .error
      h1.mdc-typography--headline1
        | 404 Not Found
      h2.mdc-typography--subtitle1
        | お探しのページは見つかりませんでした
      .mdc-touch-target-wrapper
        button.mdc-button.mdc-button--raised.mdc-button--touch(onclick="location.href='./index.html'")
          .mdc-button__ripple
          i.material-icons.mdc-button__icon(aria-hidden="true") bookmark
          span.mdc-button__label
            | ホームに戻る
          .mdc-button__touch
    script(src="./dist/bundle.js" async)