@use "@material/theme" with (
  $primary: #008200,
  $secondary: #FF6E00,
);
@use "@material/typography/mdc-typography";
@use "@material/elevation/mdc-elevation";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/top-app-bar";
@use "@material/circular-progress/mdc-circular-progress";
@use "@material/card";
@use "@material/dialog";
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/icon-button";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";


@import "swiper/swiper-bundle.css";

@include button.core-styles;
@include icon-button.core-styles;
@include card.core-styles;
@include dialog.core-styles;
@include textfield.core-styles;


* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

html.wf-active * {
  --mdc-typography-font-family: "Roboto", "Noto Sans JP", sans-serif;
}

body {
  height: 100%;
}

.mdc-top-app-bar {
  // fill-color($color) is defined in the top-app-bar namespace
  @include top-app-bar.fill-color(#FFFFFF);
  @include top-app-bar.ink-color(#435167);
  @include top-app-bar.icon-ink-color(#435167);
}

.title {
  text-align: center;
  padding: 150px 25vw;
}

.futura-pt {
  font-family: "futura-pt", sans-serif;
}

.gradation-orange {
  background: linear-gradient(25deg, #FF6E00, #FFC100);
}

.error {
  text-align: center;
  padding: 100px;
  height: 100%;
}

.text-border-bottom {
  position: relative;
  display: inline-block;
  padding: 0px 15% 0px 0px;
  border-bottom: 3px solid #094;
}

.text-border-bottom:before {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 20%;
  height: 3px;
  content: '';
  background: #00cc5b;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.mdc-card-fixed {
  padding: 16px;
}

.rounded-circle {
  border-radius: 50%;
}

.text-gray {
  color: gray;
}

.text-white {
  color: white;
}

.side-padding {
  padding: 0px 16px 8px 16px
}

.hidden {
  visibility: hidden;
}

.relative {
    position: relative;
}
.absolute {
  position: absolute;
  right: 28px;
}

.glass {
  background-color: rgba( 255, 255, 255, 0.55 );
  backdrop-filter: blur(5px);
}

.flex {
  display: flex;
}

.tp {
  height: auto;
}