@use "@material/theme" with (
  $primary: #008200,
  $secondary: #FF6E00,
);
@use "@material/typography/mdc-typography";
@use "@material/elevation/mdc-elevation";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/top-app-bar";
@use "@material/circular-progress/mdc-circular-progress";
@use "@material/card";
@use "@material/dialog";
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/icon-button";

//@use "bootstrap/scss/bootstrap";


@include button.core-styles;
@include icon-button.core-styles;
@include card.core-styles;
@include dialog.core-styles;

* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

html.wf-active * {
  --mdc-typography-font-family: "Roboto", "Noto Sans JP", sans-serif;
}

body {
  height: 100%;
}

.mdc-top-app-bar {
  // fill-color($color) is defined in the top-app-bar namespace
  @include top-app-bar.fill-color(#FFFFFF);
  @include top-app-bar.ink-color(#435167);
  @include top-app-bar.icon-ink-color(#435167);
}