@use "@material/theme" with (
  $primary: #008200,
  $secondary: #FF6E00,
  $on-primary: #FFFFFF,
);
@use "@material/typography/mdc-typography";
@use "@material/elevation/mdc-elevation";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/top-app-bar";
@use "@material/circular-progress/mdc-circular-progress";
@use "@material/card";
@use "@material/dialog";
@use "@material/button/styles";
@use "@material/button";
@use "@material/icon-button";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/drawer";
@use "@material/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/animation";
@use "@material/linear-progress";

@include icon-button.core-styles;
@include card.core-styles;
@include dialog.core-styles;
@include textfield.core-styles;
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include linear-progress.core-styles;

* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

html.wf-active * {
  --mdc-typography-font-family: "Roboto", "Noto Sans JP", sans-serif;
}

body {
  height: 100%;
}

.mdc-linear-progress {
  position: fixed;
  top: 0;
}

.mdc-top-app-bar {
  // fill-color($color) is defined in the top-app-bar namespace
  @include top-app-bar.fill-color(#FFFFFF);
  @include top-app-bar.ink-color(#435167);
  @include top-app-bar.icon-ink-color(#435167);
  transition: all .5s ease;
}

.mdc-top-app-bar.top {
  @include top-app-bar.ink-color(#FFFFFF);
  @include top-app-bar.icon-ink-color(#FFFFFF);
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0);
  transform: none;
}

.full {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.title {
  margin: 0;
  position: absolute;
  top: calc(50% - 5em);
  width: 100%;
  text-align: center;
}

.title-anm {
  animation: fade-in 750ms animation.$deceleration-curve-timing-function;
}

@keyframes fade-in {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.title-button {
  margin: 0;
  position: absolute;
  top: calc(50% + 3em);
  width: 100%;
  text-align: center;
}

.mdc-button-white {
  @include button.ink-color(#FFFFFF);
}

footer {
  /*footerの装飾*/
  background-color: #2E2E2E; 
  color: #fff;
  padding: 15px;
  align-items: center;
}

.footer-copy {
  text-align: right;
}

.title-fade {
  animation: fade-in 750ms animation.$deceleration-curve-timing-function;
}

.futura-pt {
  font-family: "futura-pt", sans-serif;
}

.gradation-orange {
  background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
}

.gradation-green {
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}

.pop {
  margin-left: auto;
  text-align: center;
  background: repeating-linear-gradient(-45deg, #ffec4e, #ffec4e 10px,#ffffff 10px, #ffffff 20px);
  width: 30%;
  padding: 1em;
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 40px;
  color: #000
}

.text-border-bottom {
  position: relative;
  display: inline-block;
  padding: 0px 15% 0px 0px;
  border-bottom: 3px solid #094;
}

.text-border-bottom:before {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 20%;
  height: 3px;
  content: '';
  background: #00cc5b;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.mdc-card-fixed {
  padding: 16px;
}

.rounded-circle {
  border-radius: 50%;
}

.text-gray {
  color: gray;
}

.text-white {
  color: white;
}

.side-padding {
  padding: 0px 16px 8px 16px
}

.hidden {
  visibility: hidden;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  right: 28px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .glass {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.55);
  }
}

.flex {
  display: flex;
}

/*.video_wrapper {
    position: relative;
}
.video_wrapper:not(.js_active)::before {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
}
.video_wrapper:not(.js_active)::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 60px;
    height: 60px;
    background-image: url(./loading.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: "";
}

.video_wrapper > video {
    width: 100%;
}*/

