@use "@material/theme" with (
  $primary: #FFC107,
  $secondary: #CCFF90
);
@use "@material/typography/mdc-typography";
@use "@material/elevation/mdc-elevation";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/drawer";
@use "@material/list";
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/icon-button";

//@use "bootstrap/scss/bootstrap";


@include button.core-styles;
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.core-styles;
@include icon-button.core-styles;

* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

html.wf-active *{
  --mdc-typography-font-family: "Roboto", "Noto Sans JP", sans-serif;
}

body {
  height: 100%;
}

.title {
  text-align: center;
  padding: 100px 0px;
}

.gradation-orange {
  background: linear-gradient(25deg, #AD1457, #FFE082);
}

.main-content {
  height: 100vh;
  background: #FFFFFF;
}

.error {
  text-align: center;
  padding: 100px;
  height: 100%;
}

.text-border-bottom {
  padding: 0.25em 0.25em 0.25em 0.25em;
  border-bottom: 3px solid black;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}