@use "@material/theme" with (
  $primary: #FF8C00,
  $secondary: #FF6E00,
  $on-primary: #FFFFFF,
  $on-secondary: #FFFFFF,
  $on-surface: #7E7E7E
);
@use "@material/typography/mdc-typography";
@use "@material/elevation/mdc-elevation";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/top-app-bar";
@use "@material/card";
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/icon-button";

//@use "bootstrap/scss/bootstrap";


@include button.core-styles;
@include icon-button.core-styles;
@include card.core-styles;

* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

html.wf-active *{
  --mdc-typography-font-family: "Roboto", "Noto Sans JP", sans-serif;
}

body {
  height: 100%;
}

/*.mdc-top-app-bar {
  // fill-color($color) is defined in the top-app-bar namespace
  @include top-app-bar.fill-color(#FFFFFF);
}*/

.title {
  text-align: center;
  padding: 100px 0px;
}

.gradation-orange {
  background: linear-gradient(25deg, #FF6E00, #FF8C00);
}

.error {
  text-align: center;
  padding: 100px;
  height: 100%;
}

.text-border-bottom {
  position: relative;
  display: inline-block;
  padding: 0px 15% 0px 0px;
  border-bottom: 3px solid #094;
}

.text-border-bottom:before {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 20%;
  height: 3px;
  content: '';
  background: #00cc5b;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
} 

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.mdc-card-fixed {
  padding: 16px;
}

.rounded-circle {
	border-radius: 50%;
}

.text-gray {
  color: gray;
}

.side-padding {
  padding: 0px 16px 8px 16px
}