@use "@material/theme" with (
  $primary: #2e7d32
);
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/top-app-bar";
@use "@material/drawer";
@use "@material/list";
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/card";
@use "@material/typography/mdc-typography";
@use "@material/button/styles";
@use "@material/snackbar/mdc-snackbar";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/textfield/icon";
@use "@material/animation";

@include icon.icon-core-styles;
@include textfield.core-styles;
@include card.core-styles;
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.deprecated-core-styles;
@include icon-button.core-styles;

* {
  margin: 0px;
  padding: 0px;
}

html.wf-active * {
  --mdc-typography-font-family: "Roboto", "Noto Sans JP", sans-serif;
}
.demo-card-padding {
  padding: 16px;
}

.demo-card__primary {
  padding-bottom: 16px
}

.mdc-top-app-bar {
  // fill-color($color) is defined in the top-app-bar namespace
  @include top-app-bar.fill-color(#FFFFFF);
  @include top-app-bar.ink-color(#435167);
  @include top-app-bar.icon-ink-color(#435167);
  transition: all .5s ease;
}

.mdc-top-app-bar.top {
  @include top-app-bar.ink-color(#FFFFFF);
  @include top-app-bar.icon-ink-color(#FFFFFF);
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0);
  transform: none;
}

.full {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  text-align: center;
  color: white;
  left: 30%;
  top: 200px;
  z-index: 1;
}

.title-anm {
  animation: fade-in 750ms animation.$deceleration-curve-timing-function;
}

@keyframes fade-in {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.title-main {
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
}

.demo-card__secondary {
  color: gray;
}

.title-video {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}